[Unit]
Description=Xmas Tree Lights Service

[Service]
Type=simple
WorkingDirectory=/home/pi/Internet-Xmas-Tree/lights
ExecStart=/usr/bin/python3 lights.py ../configuration.ini
Restart=on-failure
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
