<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>X-mas Tree Color Picker</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div id="wrapper">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js"></script>
        <script src="{{ url_for('static', filename='js/presets.js') }}" type="text/javascript" ></script>
        <h1>X-mas Tree Color Picker</h1>
        <div id="sub">
            <a href="https://github.com/Chris-Johnston/Internet-Xmas-Tree">github.com/Chris-Johnston/Internet-Xmas-Tree</a>
        </div>

        <img id="tree-image" src="/image" />

        <!-- preset buttons -->
        <div id="presetsWrapper">
            <button id="presetOff" onclick="setPreset(this)">Off</button>
            <button id="presetXmas" onclick="setPreset(this)">Xmas</button>
            <button id="presetSeahawks" onclick="setPreset(this)">Seahawks</button>
            <button id="presetBlinky" onclick="setPreset(this)">Blinking Lights</button>
        </div>

        <!-- action="submit.php" -->
        <form id="lightForm" >
            <p>
                <span id="instruct">Enter your parameters or choose a preset and press Submit.</span>
                <br />
                Select a pattern:
                <select name="pattern" form="lightForm" onchange="updateLabels()" id="selectPattern">
                    <option value="0">Solid Color #1</option>
                    <option value="1">Blink Colors</option>
                    <option value="2">Scroll Colors</option>
                    <option value="3">Wipe Up</option>
                    <option value="4">Wipe Down</option>
                    <option value="5">Random Blinker</option>
                    <option value="6">Larson Scanner</option>
		            <option value="7">Smooth Scroll</option>
                    <option value="8">Pulse</option>
                    <option value="9">Traditional</option>
                    <option value="11">Color chase</option>
                    <!-- TODO Add more Patterns -->
                </select>
                <br />

                Color #1:
                <input name="color1" class="jscolor" value="00FF00" required/>
                Random:
                <input name="random1" type="checkbox" />
                <br />

                Color #2:
                <input name="color2" class="jscolor" value="FF0000" />
                Random:
                <input name="random2" type="checkbox" />
                <br />

                Length:
                <input name="len" type="number" min="1" max="1000" value="15" class="inputNumber"/>
                Delay (ms):
                <input name="delay" type="number" min="1" max="60000" value="100" class="inputNumber"/>
                <br />

                <!--<input id="btnSubmit" type="submit" value="Submit" />-->
            </p>
        </form>
        <button id="btnSubmit">Submit</button>
        <div id="callbackValue">Output:</div>
    </div>

    <script type="text/javascript">
	console.log("TEST");

        function updateTreeImage()
        {
            var img = document.getElementById("tree-image");
            img.src = `/image?t=${Date().now}`;
        }
        // update the tree image every 10seconds
        setInterval(updateTreeImage, 10000);

        function valCheck(str)
{
console.log("getting check " + str);
console.log(document.forms[0].elements[str].checked);
return document.forms[0].elements[str].checked;
}
        function val(str)
        {

		console.log("getting " + str);
                console.log(document.forms[0].elements[str].value);
		return document.forms[0].elements[str].value;
//            return document.getElementById(str).value;
        }

        document.getElementById("btnSubmit").addEventListener("click", getRequest);
        // http://stackoverflow.com/questions/247483/http-get-request-in-javascript
        function getRequest()
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function()
            {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
		{
                    document.getElementById("callbackValue").innerHTML = xmlHttp.responseText;
			console.log("GOT BACK");
		}
            }
            var request ="/set?color1=" + val("color1") + "&color2=" + val("color2") + "&pattern=" + val("pattern") + "&random1=" + valCheck("random1") + "&random2=" + valCheck("random2") + "&length=" + val("len") + "&delay=" + val("delay");
            console.log("NEW REQUEST: " + request);
            xmlHttp.open("GET", request, true);
            xmlHttp.send(null);
            console.log("SENT!");
        }

    </script>
</body>
</html>
