body{
    background-color: forestgreen;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

#btnSubmit
{
    position: relative;
    left: 65%;
    width: 100px;
}

h1{
    font-size: 250%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#sub, #status{
    text-align: center;
}

form{
    border: 1px solid black;
    width: 400px;
    margin: 5px auto;
    padding: 15px;
}

form > p{
    line-height: 2.5em;
}

.inputNumber{
    width: 75px;
}

. jscolor{
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}

#instruct {
    color: red;
    font-size: 12pt;
}

#wrapper{
    background-color: white;
    border: 5px solid red;
    border-radius: 20px;
    padding: 30px;
    margin: 10px 12%;
    line-height: 24pt;
}

#callbackValue
{
    margin: 0 auto;
    width: 50%;
    border: 1px solid black;
    background: #CCC;
    font-family: Courier New;
    font-size: 8pt;
}

@media only screen and (max-width: 650px)
{
    #instruct{
        font-size: 12px;
    }
    #wrapper
    {
        margin: 10px 1%;
    }
    form{
        width: auto;
    }
    h1{
        font-size: 20pt;
    }
    #presetsWrapper
    {
        display: block;
    }
    #callbackValue
    {
        width: 90%;
    }
}

